@media only screen and (min-width: 38rem) {
  header, main, nav, footer, .hero {
    max-width: 900px;
    margin: 0 auto;
  }

  .hamburger {
    display: none;
  }
  .nav {
    display: flex;
    flex-direction: row;
}

.nav a {
    display: block;
    padding: .8rem 10px;
    color: #f1f2fb;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
    background-color: #0a0a0a;
    margin: 10px;
    border-radius: .5rem;
}

nav.show {
    display: flex; /* for mobile hamburger toggle */
}



  header{
    position:static;
    display: flex;
    align-items: center; 
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    background: #004080;
    color: white;}

    footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;  
    justify-items: center;
    border-bottom: solid 1px #ddd;
    background: #004080;
    color: white;
    text-align: center;}
    .home{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
}

.advertisement-cards{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
 
  .complete {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 2rem auto;
  }

  .joinform {
    margin-bottom: 0; /* remove mobile spacing */
  }
}

.membership-cards {
  display: grid;
  gap: 1rem;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
}

